<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="resources/css/style2.css">
    <script>
        function acceso(){
            console.log("Prueba")
            window.location.href='/newton';
        }
        function secante(){
            console.log("Prueba")
            window.location.href='/secante';
        }
        function acceso2(){
            console.log("Prueba1")
            window.location.href='/muller';
        }
        function acceso3(){
            console.log("Prueba2")
            window.location.href='/gauss';
        }
    </script>
</head>
<body>
    <center>
    <h1>Bienvenido al sistema de calculos</h1>
<h2>Por favor seleccione la operacion que quiere realizar</h2>

<button id="pm" class="boton" onclick="javascript:acceso();">Metodo Newton Raphson</button>
    <button id="p1" class="boton" onclick="javascript:secante()">Metodo de la Secante </button>
    <button id="p2" class="boton" onclick="javascript:acceso2()">Metodo de Muller</button>
    <button id="p3" class="boton" onclick="javascript:acceso3()">Metodo de Gauss</button>
</center>
    


    
</body>
</html>