<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="resources/css/style2.css">
</head>
<body>
    <center>
    <h1>Bienvenido al sistema de calculos</h1>
<h2>Por favor seleccione la operacion que quiere realizar</h2>

<button id="pm" class="boton" onclick="acceso()">Metodo Newton Raphson</button>
    <button id="p1" class="boton" onclick="">Metodo de la Secante </button>
    <button id="p2" class="boton" onclick="">Metodo de Muller</button>
    <button id="p3" class="boton" onclick="">Metodo de Gauss</button>
</center>
    


    <script src="../Metodos/main.js"></script>
</body>
</html>