<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodo Newton Rapshon</title>
    <script>
function primer(){
      function newtonRaphson(funcion, derivada, x0, iteraciones) {
          // Definir la funci贸n evaluada en un punto dado
          const evaluarFuncion = (x) => eval(funcion);
        
          // Definir la derivada evaluada en un punto dado
          const evaluarDerivada = (x) => eval(derivada);
        
          // Inicializar el valor de x con el valor inicial proporcionado
          let x = x0;
        
          // Inicializar arrays para almacenar los resultados y los procedimientos
          const resultados = [];
          const errores = [];
          const procedimientos = [];
        
          // Realizar las iteraciones
          for (let i = 0; i < iteraciones; i++) {
            const fx = evaluarFuncion(x);
            const dfx = evaluarDerivada(x);
        
            // Calcular el siguiente valor de x utilizando la f贸rmula de Newton-Raphson
            const xn = x - fx / dfx;
        
            // Calcular el error absoluto
            const error = Math.abs(fx);
        
            // Almacenar el resultado, el error y el procedimiento en los arrays correspondientes
            resultados.push(xn);
            errores.push(error);
            procedimientos.push(`Iteraci贸n ${i + 1}: x = ${xn.toFixed(6)}, Error = ${error.toFixed(6)}`);
        
            // Actualizar el valor de x para la siguiente iteraci贸n
            x = xn;
          }
        
          return { resultados, errores, procedimientos };
        }
        
        // Ejemplo de uso
        let funcion = document.getElementById("funcion").value; 
        let derivada = document.getElementById("derivada").value; 
        let x0 = document.getElementById("ValorI").value; 
        let iteraciones = document.getElementById("Iteraciones").value; 
        
       
  
        const { procedimientos } = newtonRaphson(funcion, derivada, x0, iteraciones);
        
         console.log("Procedimientos:");
         procedimientos.forEach((procedimiento) => {
          console.log(procedimiento);

         });
              
    document.getElementById('fool').innerHTML=procedimientos;
             
  }
    </script>
</head>
<body>
  
    <h1>Metodo Newton Rapshon</h1>
    <button id="iniciarNR" onclick="javascript:primer()">Calcular</button>
    <br>
    <input id="funcion" type="text" placeholder="Ingrese la funcion">
    <br>
    <input id="derivada" type="text" placeholder="Ingrese la derivada">
    <br>
    <input id="ValorI" type="text" placeholder="Ingrese el valor inicial de x">
    <br>
    <input id="Iteraciones" type="text" placeholder="Ingrese el numero de iteraciones">

      <div id="fool"></div>
  
    
    

    <script src="../Metodos/main.js"></script>
</body>
</html>