<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodo Newton Rapshon</title>
</head>
<body>
    <h1>Metodo Newton Rapshon</h1>
    <input id="funcion" type="text" placeholder="Ingrese la funcion">
    <br>
    <input id="derivada" type="text" placeholder="Ingrese la derivada">
    <br>
    <input id="ValorI" type="text" placeholder="Ingrese el valor inicial de x">
    <br>
    <input id="Iteraciones" type="text" placeholder="Ingrese el numero de iteraciones">
      
    <button id="iniciarNR" onclick="prueba()">Calcular</button>

    <div>
         
    </div>

    <script src="main.js"></script>
</body>
</html>